<!DOCTYPE html>
<body >
<header id="top" class="header" background>
  <div class="text-vertical-center">
    <%= yield %>
    <h1>Welcome, <%= @user.username %> </h1>
   <h3>Your API-key is</h3>
    <br>
    <p> TROLOLOLOLOL</p>

    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
</header>
</body>
</html>